<h2><span style="background-color:#2ecc71">Представление себя</span></h2>

<p>&nbsp;</p>

<p><strong>Первая встреча</strong></p>

<blockquote>
<ul>
	<li><strong>Человек А</strong>: Guten Tag! Ich bin [Ваше имя]. Und Sie? (Добрый день! Я [Ваше имя]. А вы?)</li>
	<li><strong>Человек Б</strong>: Guten Tag! Mein Name ist [Имя собеседника]. Freut mich! (Добрый день! Меня зовут [Имя собеседника]. Приятно познакомиться!)</li>
</ul>
</blockquote>

<p><strong>Откуда вы?</strong></p>

<ul>
	<li><strong>Человек А</strong>: Woher kommen Sie? (Откуда вы?)</li>
	<li><strong>Человек Б</strong>: Ich komme aus [Ваша страна]. Und Sie? (Я из [Ваша страна]. А вы?)</li>
	<li><strong>Человек А</strong>: Ich komme aus [Страна собеседника].</li>
</ul>

<p><strong>Чем вы занимаетесь?</strong></p>

<ul>
	<li><strong>Человек А</strong>: Was machen Sie beruflich? (Кем вы работаете?)</li>
	<li><strong>Человек Б</strong>: Ich bin Student/Studentin. Und Sie? (Я студент/студентка. А вы?)</li>
	<li><strong>Человек А</strong>: Ich bin Lehrer/Lehrerin.</li>
</ul>

<p><strong>Хобби</strong></p>

<ul>
	<li><strong>Человек А</strong>: Haben Sie Hobbys? (У вас есть хобби?)</li>
	<li><strong>Человек Б</strong>: Ja, ich lese gern und h&ouml;re Musik. Und Sie? (Да, я люблю читать и слушать музыку. А вы?)</li>
	<li><strong>Человек А</strong>: Ich spiele Fu&szlig;ball.</li>
</ul>

<p><strong>О погоде</strong></p>

<ul>
	<li><strong>Человек А</strong>: Das Wetter ist heute sch&ouml;n, nicht wahr? (Погода сегодня хорошая, не так ли?)</li>
	<li><strong>Человек Б</strong>: Ja, sehr sch&ouml;n! Und nicht zu kalt. (Да, очень хорошая! И не слишком холодно.)</li>
</ul>

<p><strong>О планах</strong></p>

<ul>
	<li><strong>Человек А</strong>: Was machen Sie am Wochenende? (Что вы делаете на выходных?)</li>
	<li><strong>Человек Б</strong>: Ich besuche meine Familie. Und Sie? (Я навещаю свою семью. А вы?)</li>
	<li><strong>Человек А</strong>: Ich bleibe zu Hause und entspanne mich.</li>
</ul>

<p><strong>Прощание</strong></p>

<ul>
	<li><strong>Человек А</strong>: Es war sch&ouml;n, Sie kennenzulernen. (Было приятно познакомиться.)</li>
	<li><strong>Человек Б</strong>: Gleichfalls! Auf Wiedersehen! (Взаимно! До свидания!)</li>
	<li><strong>Человек А</strong>: Auf Wiedersehen!</li>
</ul>

<p>&nbsp;</p>
